.root {
    height: 100vh;
    max-height: 100vh;
    background-color: #fff;
}

.main {
    margin: 0 auto;
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.title {
    margin: 0 0 24px;
    width: 80%;
    text-align: center;
    font-family: "Nunito", Helvetica, sans-serif;
    font-size: 42px;
    font-weight: bold;
}

.subtitle {
    margin: 0 0 24px;
    text-align: center;
    font-family: "Nunito", Helvetica, sans-serif;
    font-size: 32px;
}

.button {
    margin: 0 0 12px;
    padding: 12px 12px;
    width: 30%;
    height: max-content;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    color: #0066b3;
    font-family: "Nunito", Helvetica, sans-serif;
    font-size: 24px;
    font-weight: normal;
    transition: background-color 1s ease;
}

.button:hover {
    background-color: #edf2fe;
}

.image_flag {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    z-index: -1;
}

.image_putin {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 60%;
    z-index: -1;
}

@media screen and (max-width: 650px) {
    .title {
        font-size: 32px;
    }

    .button {
        font-size: 16px;
    }
}

.button:last-of-type {
    margin-bottom: 0;
}

.popup {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
}

.popup__container {
    position: relative;
    padding: 34px 36px 37px;
    width: 430px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, .15);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup_is-animated {
    display: flex;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    transition: visibility 0s 0.6s, opacity 0.6s;
}

.popup_is-opened {
    display: flex;
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    transition: visibility 0s, opacity 0.6s;
}

.popup__close {
    width: 35px;
    height: 35px;
    background: transparent url('./img/close.svg') center no-repeat;
    background-size: 35px 35px;
    border: none;
    position: absolute;
    top: -36px;
    right: -34px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: visibility 0s, opacity 0.3s;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
  
.popup__close:hover {
    opacity: 0.6;
}

.ticket {
    margin: 0 0 24px;
    text-align: center;
    font-family: "Nunito", Helvetica, sans-serif;
    font-size: 48px;
    font-weight: bold;
}


/* queue.html */

.queue {
    margin: 0 0 24px;
    padding: 0;
    list-style: none;
    font-family: "Nunito", Helvetica, sans-serif;
    font-size: 24px;
    font-weight: normal;
}

.queue__element {
    margin: 0;
    padding-bottom: 5px;
    font-size: 24px;
}